.required-asterisk {
  color: red;
  font-weight: bold;
  margin-left: 3px;
  font-size: 13px;
}

table{width: 100%; background: #9bd4f578; text-transform: capitalize;}
thead{border:1px solid black;}
tr{text-align: center;}
td{padding: 10px; border: 1px solid black;  border-radius: 10px; font-size: 14px;}
.count
{
  width: 53%;
  margin: auto;
  border: 2px solid #00d0ff47;
  padding: 10px;
  background: rgb(0 126 255 / 24%);
}
.bold
{
  font-weight: 600;
  font-size: 15px;
}