.initial-img {
  background-color: #81b2e3;
  color: #fff;
  line-height: 3rem;
  text-align: center;
  font-size: 1.25rem;
}
.no-bgc::after {
  background: unset !important;
}
.lead-details .nav-tabs-custom {
  border: none;
}

ngb-progressbar > .progress {
  border-radius: 0 !important;
}
.bg-yellow {
  background-color: #ffec39 !important;
}

.nav-tabs-custom .nav-item .nav-link {
  padding-left: 0;
  margin-right: 30px;
}
.progress {
  border-radius: 2px;
}
.initial {
  font-size: 12px !important;
  background-color: #f6f6f6 !important;
  color: #16aecf !important;
  width: 30px !important;
  height: 30px !important;
  text-align: center !important;
  line-height: 31px !important;
}
