<div class="card card-animate bg-primary">
    <div class="card-body {{type}}">
        <div class="">
                
            <div class="row ">
                <div class="col-3">         
<i class="bx bx-user bx-md"></i>
</div>
<div class="col-9">
                <h5 style="float:right;"  class="text-light">Experts  <i class="bx bxs-right-arrow-circle bx-xs"></i></h5>	 
</div>

</div>

        <div class="panel-body text-center">
            <div class="row">
                <div class="col-3 bg">
                    <div class="">
                       Signed
                    </div>
                    <div class="h5">5600</div>
                </div>
<div class="col-3 bg" >
                <div class="huge">
                       Con.
                    </div>
                    <div class="h5">55600</div>
                </div>
<div class="col-3 bg" >
                    <div class="huge">
                        Rec.
                    </div>
                    <div class="h5">25600</div>
                </div>
                <div class="col-3 bg" >
                <div class="huge">
                        RIP
                    </div>
                    <div class="h5">560</div>
                </div>
            </div>
        </div>
        
        
    </div>
    </div><!-- end card body -->
</div>