
    .card {
        margin-bottom: 10px;
        background-color: #fff;
        border: 1px solid transparent;
        border-radius: 4px;
        -webkit-box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
        box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
        box-sizing: border-box;
    }
  
  
      .card
              {
                  color:white;
                 // background: linear-gradient(174deg, rgb(31, 32, 34) 0%, rgb(196, 185, 199) 50%, rgb(122, 121, 121) 100%);
              
                 // background: linear-gradient(174deg, rgba(63,94,251,1) 0%, rgba(158,82,179,1) 50%, rgba(252,70,107,1) 100%);
                  // background: linear-gradient(175deg, rgba(34,193,195,1) 0%, rgba(135,190,126,1) 46%, rgba(253,187,45,1) 100%);
                  background: linear-gradient(173deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 12%, rgba(0,212,255,1) 100%);
                  border:1px solid #4ABDAC;
                  font-size:15px;
                			
              }



             

              .box1 a
              {
                  color:#4ABDAC;
              }
  .bg
              {
              background-color: rgba(0,0,0,.5);
          border: 1px solid  rgba(177, 175, 175, 0.8);
          color:white;
          border-radius: 10%;
          box-shadow: -5px 15px 15px 5px  rgb(44, 46, 46);
     
              }
  

.col-9 .h5
{
    float:right;
}



             .h5
              {
                color: #e7cf17 !important;
         
              }
  
  
              .box2
              {
                  color:white;
                  background-color:#F7882F;
                  border:1px solid #F7882F;
                  font-size:15px;				
              }
              .box2 a
              {
                  color:#F7882F;
              }
              
              .box3
              {
                  color:white;
                  background-color:#6C648B;
                  border:1px solid #6C648B;
                  font-size:15px;				
              }
              .box3 a
              {
                  color:#6C648B;
              }
              
              .box4
              {
                  color:white;
                  background-color:#CF6766;
                  border:1px solid #CF6766;
                  font-size:15px;				
              }
              .box4 a
              {
                  color:#CF6766;
              }