h5,
h6 {
  color: #ffffff;
}
a {
  color: #ffffff;
}

.txt-secondary {
  color: #16aecf;
}
.btn-secondary {
  color: #ffffff;
  background-color: #16aecf;
  border-color: #16aecf;
}
.img-logo {
  width: 2.375rem;
}

.txt-xs {
  font-size: 0.63rem;
}
.form-group {
  margin-top: 1.625rem;
  margin-bottom: 0;
}
.mt-6 {
  margin-top: 4.5rem;
}

.auth-one-bg {
  background-image: url(../../../assets/images/newkrImage.png);
  background-position: center;
  background-size: cover;
}


@media only screen and (min-width: 600px) {

.lbox
{
 // background-image: url(../../../assets/images/newkrImage.png);
 background-color: rgb(11, 26, 46);
  margin: auto;
  width: 50%;
  border: 3px solid rgb(69, 137, 226);  
  padding: 10px;

}

}


@media only screen and (max-width: 600px) {

  .lbox
  {
   // background-image: url(../../../assets/images/newkrImage.png);
   background-color: rgb(11, 26, 46);
    margin: auto;
    width: 90%;
    border: 3px solid rgb(69, 137, 226);  
    padding: 10px;
  
  }
  .auth-logo
{
  width:80%;
}

  
  }