::ng-deep .my-class .modal-dialog { 
    padding:5px;
    max-width: 100%;
    width: 100%;
}

@media (min-width: 792px){

.modal-lg, .modal-xl {
   
    --vz-modal-width: 98% !important;
    min-width: 98% !important;
}
.modal-dialog .modal-dialog-centered .modal-lg //.modal-xl .modal-content
{
padding-top: 0;
}

}

.modal-dialog .modal-dialog-centered .modal-lg
{
    --vz-modal-width: 98% !important;
    min-width: 98% !important;
}




tbody td
{
    cursor: pointer !important;

}

ngb-highlight
{
    cursor: pointer !important;

}

.modal-header{
    padding:10px 10px !important;
}


