<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="table-responsive">
        <table id="basic-datatable" class="table table-bordered cards-table dt-responsive nowrap no-footer dtr-inline">
          <thead>
            <tr>
              <th><input type="checkbox" (change)="checkAllCheckBox($event)" /></th>
              <th>#</th>
              <th>Event Date</th>
              <th>Expert Payable Amount</th>
            </tr>
          </thead>
          <tbody>
            <tr class="m-2 row-card" *ngFor="let event of eventlistForExpert; let i = index">
              <td><input type="checkbox" value="{{ event.id }}" [(ngModel)]="eventlistForExpert[i].checked" /></td>
              <td>{{ event.eventId }}</td>
              <td>{{ event.eventAt | localDateTime: 'DD MMM YYYY | hh:mm A z' }}</td>
              <td>{{ event.expertPayment }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="row mb-md-2">
        <div class="col-xl-12 mb-1 mt-3 text-right">
          <button type="submit" class="btn btn-success" (click)="addEventintoInvoice()">Update</button>
        </div>
      </div>
    </div>
  </div>
</div>
