

.card-body1{
color:#002fff;
    background: linear-gradient(to bottom, #aff3ed 0%, #cbe0ee 100%)
    
}   


.card-body2{
    color:#f8f8f4;
        background: linear-gradient(to bottom, #032421 0%, #319fe9 100%)
        
    }   

.card-body{
    color:#f8f8f4;
        background: linear-gradient(to bottom, #032421 0%, #319fe9 100%)
        
    }   




    .card-body.reg{
        color:#f8f8f4;
        background: linear-gradient(to bottom, #071e48 0%, #45545e 100%)
        
    }   
 

    .card-body.comp{
    color:#141411;
        background: linear-gradient(to bottom, #191a03 0%, #41403f 100%)
        
    }   
