.card-header{

padding: 8px;;

}

.mt-4 {
     margin-top: 25pxm !important; 
}


.mt-4 {
    margin-bottom: 25pxm !important; 
}

.blink_me {
    animation: blinker 1s linear;
   animation-iteration-count: 5;
  }
  
  @keyframes blinker {  
    50% { opacity: 0; }
  }

  .initials {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    width: 2ch;
    font-family: monospace;
    font-size: 20px;
    position: relative;
    letter-spacing: 1ch; /*added*/
  }
  
  .initials:after {
    content: ".";
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    letter-spacing: 0; /*added*/
  }
  

 .comp .card-body{
    color:#f8f8f4;
      //  background: linear-gradient(to bottom, #55200b 0%, #e9cd99 100%) !important;
        
      color:white;
      background: linear-gradient(173deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 12%, rgba(0,212,255,1) 100%);
      border:1px solid #4ABDAC;
    
    
    }   




    .panel {
      margin-bottom: 10px;
      background-color: #fff;
      border: 1px solid transparent;
      border-radius: 4px;
      -webkit-box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
      box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
      box-sizing: border-box;
  }


    .box1
			{
				color:white;
				background: linear-gradient(173deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 12%, rgba(0,212,255,1) 100%);
				border:1px solid #4ABDAC;
				font-size:15px;				
			}
			.box1 a
			{
				color:#4ABDAC;
			}
.bg
			{
			background-color: rgba(0,0,0,.5);
        border: 1px solid grey;
			}

			.box1 .panel-heading
			{
				color:white;
       
			}


			.box2
			{
				color:white;
				background-color:#F7882F;
				border:1px solid #F7882F;
				font-size:15px;				
			}
			.box2 a
			{
				color:#F7882F;
			}
			
			.box3
			{
				color:white;
				background-color:#6C648B;
				border:1px solid #6C648B;
				font-size:15px;				
			}
			.box3 a
			{
				color:#6C648B;
			}
			
			.box4
			{
				color:white;
				background-color:#CF6766;
				border:1px solid #CF6766;
				font-size:15px;				
			}
			.box4 a
			{
				color:#CF6766;
			}

#rowh
{
	border-radius: 8px;

}

	
.apexcharts-canvas {
     border: 1px solid #f00;
	 background: linear-gradient(173deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 12%, rgba(0,212,255,1) 100%);

}
.card-header{

padding: 8px;;

}

.mt-4 {
     margin-top: 25pxm !important; 
}


.mt-4 {
    margin-bottom: 25pxm !important; 
}

.blink_me {
    animation: blinker 1s linear;
   animation-iteration-count: 5;
  }
  
  @keyframes blinker {  
    50% { opacity: 0; }
  }

  .initials {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    width: 2ch;
    font-family: monospace;
    font-size: 20px;
    position: relative;
    letter-spacing: 1ch; /*added*/
  }
  
  .initials:after {
    content: ".";
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    letter-spacing: 0; /*added*/
  }
  

 .comp .card-body{
    color:#f8f8f4;
      //  background: linear-gradient(to bottom, #55200b 0%, #e9cd99 100%) !important;
        
      color:white;
      background: linear-gradient(173deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 12%, rgba(0,212,255,1) 100%);
      border:1px solid #4ABDAC;
    
    
    }   




    .panel {
      margin-bottom: 10px;
      background-color: #fff;
      border: 1px solid transparent;
      border-radius: 4px;
      -webkit-box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
      box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
      box-sizing: border-box;
  }


    .box1
			{
				color:white;
				background: linear-gradient(173deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 12%, rgba(0,212,255,1) 100%);
				border:1px solid #4ABDAC;
				font-size:15px;				
			}
			.box1 a
			{
				color:#4ABDAC;
			}
.bg
			{
			background-color: rgba(0,0,0,.5);
        border: 1px solid grey;
			}

			.box1 .panel-heading
			{
				color:white;
       
			}


			.box2
			{
				color:white;
				background-color:#F7882F;
				border:1px solid #F7882F;
				font-size:15px;				
			}
			.box2 a
			{
				color:#F7882F;
			}
			
			.box3
			{
				color:white;
				background-color:#6C648B;
				border:1px solid #6C648B;
				font-size:15px;				
			}
			.box3 a
			{
				color:#6C648B;
			}
			
			.box4
			{
				color:white;
				background-color:#CF6766;
				border:1px solid #CF6766;
				font-size:15px;				
			}
			.box4 a
			{
				color:#CF6766;
			}

	
.apexcharts-canvas {
     border: 1px solid #f00;
	 background: linear-gradient(173deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 12%, rgba(0,212,255,1) 100%);

}

.clr1
{
	background: linear-gradient(173deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 12%, rgba(0,212,255,1) 100%);
border-radius: 6px;
color:#fff;
}

.clr0
{
background: linear-gradient(173deg, rgb(186, 186, 189) 0%, rgb(153, 153, 155) 12%, rgb(197, 200, 202) 100%);
border-radius: 6px;
color:rgb(12, 12, 12);
border:1 solid #6C648B !important;


}
.apexcharts-theme-light {
    background: #272525  !important;
    color: rgb(218, 216, 214)  !important;
  }


.clr2
{
	background: linear-gradient(173deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 12%, rgb(223, 177, 146) 100%);
border-radius: 6px;
color:#fff;
}

.clr3
{
	background: linear-gradient(173deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 12%, rgb(102, 255, 0) 100%);
border-radius: 6px;
color:#fff;
}

.clr4
{
	background: linear-gradient(173deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 12%, rgb(88, 138, 233) 100%);
border-radius: 6px;
color:#fff;
}


.clr5
{
	background: linear-gradient(173deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 12%, rgb(204, 127, 240) 100%);
border-radius: 6px;
color:#fff;
}


.clr6
{
	background: linear-gradient(173deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 12%, rgb(162, 184, 189) 100%);
border-radius: 6px;
color:#fff;
}


.clrsml
{
	background: linear-gradient(173deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 12%, rgb(136, 236, 203) 100%);
border-radius: 6px;
color:#fff;
}
