#page-topbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1002;   
    background-color: #001233!important;

}

.fc .fc-daygrid-day-bottom
{
color: aliceblue;
    background-color:                                                                                                                                                                   #001233 !important;
}