.row-card {
  margin-bottom: 24px;
  box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03);
  position: relative;
  min-width: 0;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #747272;
  border-radius: 0.5rem;
}
.tab-content {
  width: 100%;
}
ul {
  width: 100%;
  background: white;
}
table {
  border-collapse: separate;
  border-spacing: 0px 12px;
  padding: 0 10px;
  tr {
    th {
      &:last-child {
        border-radius: 0 4px 4px 0;
      }
      &:first-child {
        border-radius: 4px 0 0px 4px;
      }
      vertical-align: middle;
    }
    td {
      vertical-align: middle !important;
      padding: 6px 12px !important;
      &:last-child {
        border-radius: 0 4px 4px 0;
      }
      &:first-child {
        border-radius: 4px 0 0px 4px;
      }
    }
  }
}
thead {
  background-color: #05335f;
  color: #fff;
}
.table-bordered th,
.table-bordered td {
  border: 0px solid #eff2f7;
}
.text-white {
  color: #fff !important;
}

.table-actions {
  font-size: 1.2rem;
}
.table-actions > div:hover i {
  color: #16aecf;
  transform: scale(1.5);
}
.nowrap {
  white-space: nowrap;
}
.status {
  color: blue;
  cursor: pointer;
}
