.header {
  width: 100%;
  background-color: #001233;
}
.terms-box {
  height: 500px;
}
.avatar-md-1 {
  min-width: 34px;

  .avatar-title {
    width: 50px;
    height: 50px;
  }
}

.initial-img {
  background-color: #81b2e3;
  color: #fff;
  line-height: 3rem;
  text-align: center;
  font-size: 1.25rem;
}
