.bg-soft-project
{  margin-top: 20px;;
   // background-color: rgb(169, 228, 247) !important; // background-color: rgb(169, 228, 247) !important;
 //  background-image: linear-gradient( 180.6deg, rgba(156,252,248,1) 11.2%, rgba(110,123,251,1) 91.1% );
  // background-image: radial-gradient( circle 759px at -6.7% 50%, rgba(80,131,73,1) 0%, rgba(140,209,131,1) 26.2%, rgba(178,231,170,1) 50.6%, rgba(144,213,135,1) 74.1%, rgba(75,118,69,1) 100.3% );   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
 // background-image:linear-gradient(to right, #c6ffdd, #fbd786, #f7797d);// linear-gradient(to right, #DECBA4, #3E5151);
 // background-image:linear-gradient(to right, #d1fae5,  #b9b8ad);// linear-gradient(to right, #DECBA4, #3E5151);
  background-image:linear-gradient(to bottom, #d6dfde,  #9ea1a1);// linear-gradient(to right, #DECBA4, #3E5151);
color:rgb(61, 57, 57);
 
  //background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
 box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
 border-radius: 15px;
}

.badge
{
min-width: 80px;
margin:5px;
}

.badge {
   min-width: 8px;

}

hr1 {
  //background: linear-gradient(173deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 12%, rgb(136, 236, 203) 100%);
  border-style: inset;
  height: 2px;
  border:none;
  height: 20px;
 	width: 99%;
	height: 50px;
	margin-top: 0;
	border-bottom: 1px solid #34518f;
	box-shadow: 0 20px 20px -20px #333;
  margin:   -40px auto 10px; 
}

.nav-link1
{
	background: linear-gradient(173deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 12%, rgb(136, 236, 203) 100%);
border-radius: 6px;
color:#fff;
}

.clrsml
{
	background: linear-gradient(173deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 12%, rgb(136, 236, 203) 100%);
border-radius: 6px;
color:#fff;
min-height: 70px;;
}
.bg-soft-project-view
{  margin-top: 2px;;
   // background-color: rgb(169, 228, 247) !important; // background-color: rgb(169, 228, 247) !important;
 //  background-image: linear-gradient( 180.6deg, rgba(156,252,248,1) 11.2%, rgba(110,123,251,1) 91.1% );
  // background-image: radial-gradient( circle 759px at -6.7% 50%, rgba(80,131,73,1) 0%, rgba(140,209,131,1) 26.2%, rgba(178,231,170,1) 50.6%, rgba(144,213,135,1) 74.1%, rgba(75,118,69,1) 100.3% );   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
 // background-image:linear-gradient(to right, #c6ffdd, #fbd786, #f7797d);// linear-gradient(to right, #DECBA4, #3E5151);
 //background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
 //box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
 box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
 border-radius: 15px;
 padding:15px;
 
}