.row-card {
  margin-bottom: 24px;
  box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03);
  position: relative;
  min-width: 0;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #747272;
  border-radius: 0.5rem;
}
.tab-content {
  width: 100%;
}
ul {
  width: 100%;
  background: white;
}
table {
  border-collapse: separate;
  border-spacing: 0px 12px;
  padding: 0 10px;
  tr {
    th {
      &:last-child {
        border-radius: 0 4px 4px 0;
      }
      &:first-child {
        border-radius: 4px 0 0px 4px;
      }
      vertical-align: middle;
    }
    td {
      vertical-align: middle !important;
      padding: 6px 12px !important;
      &:last-child {
        border-radius: 0 4px 4px 0;
      }
      &:first-child {
        border-radius: 4px 0 0px 4px;
      }
    }
  }
}
thead {
  background-color: #05335f;
  color: #fff;
}
.table-bordered th,
.table-bordered td {
  border: 0px solid #eff2f7;
}
.text-white {
  color: #fff !important;
}

.table-actions {
  font-size: 1.2rem;
}
.table-actions > div:hover i {
  color: #16aecf;
  transform: scale(1.5);
}
.nowrap {
  white-space: nowrap;
}
.status {
  color: blue;
  cursor: pointer;
}
.modal-header {
  .modal-title,
  .close {
    color: white;
  }
}

/*************gs *******************/


div.blueTable {
  border: 1px solid #1C6EA4;
  background-color: #EEEEEE;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
.divTable.blueTable .divTableCell, .divTable.blueTable .divTableHead {
  border: 1px solid #AAAAAA;
  padding: 3px 2px;
}
.divTable.blueTable .divTableBody .divTableCell {
  font-size: 13px;
}
.divTable.blueTable .divTableRow:nth-child(even) {
  background: #D0E4F5;
}


.divTable.blueTable .divTableHeading {
  background:linear-gradient( #B9E8E4,lightyellow) ;
/*  background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  border-bottom: 2px solid #444444;  */
}



.divTable.greenTable .divTableHeading {
  background:linear-gradient( #58e047,lightyellow) ;
/*  background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  border-bottom: 2px solid #444444;  */
}

/*
.divTable.blueTable .divTableHeading {
  background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%,);
  background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  border-bottom: 2px solid #444444;
}*/
.divTable.blueTable .divTableHeading .divTableHead {
  font-size: 15px;
  font-weight: bold;
  color:#5592bb;    /*#FFFFFF;  */
  border-left: 2px solid #D0E4F5;
}
.divTable.blueTable .divTableHeading .divTableHead:first-child {
  border-left: none;
}

.blueTable .tableFootStyle {
  font-size: 14px;
  font-weight: bold;
  color: #FFFFFF;
  background: #D0E4F5;
  background: -moz-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  background: -webkit-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  background: linear-gradient(to bottom, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  border-top: 2px solid #444444;
}
.blueTable .tableFootStyle {
  font-size: 14px;
}
.blueTable .tableFootStyle .links {
   text-align: right;
}
.blueTable .tableFootStyle .links a{
  display: inline-block;
  background: #1C6EA4;
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 5px;
}
.blueTable.outerTableFooter {
  border-top: none;
}
.blueTable.outerTableFooter .tableFootStyle {
  padding: 3px 5px; 
}
/* DivTable.com */
.divTable{ display: table; }
.divTableRow { display: table-row; }
.divTableHeading { display: table-header-group;}
.divTableCell, .divTableHead { display: table-cell;}
.divTableHeading { display: table-header-group;}
.divTableFoot { display: table-footer-group;}
.divTableBody { display: table-row-group;}