<!-- Start Breadcrumbs -->

<!-- End Breadcrumbs -->
<div class="row"> 
  <div class="col-md-6">
    <app-breadcrumbs title="Employee" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
    </div>
  <div class="col-md-6">
<div class="float-end">
  <button type="button" (click)="editemp('0',empmodel)"class="btn btn-primary m-1 mt-3">Add</button>
</div>
</div>
</div>
<div class="row">
    <div class="col-md-12">
      
        <div class="card">
          
           
            <div class="card-body">
              <div class="search-box d-inline-block mb-2">
                  <input type="text" class="form-control search" placeholder="Search..." [(ngModel)]="service.searchTerm">
                  <i class="ri-search-line search-icon"></i>
              </div>
              <div class="row justify-content-md-between align-items-md-center border-light">
                <div class="col-sm-12 col-md-5">
                    <div class="dataTables_info mb-2" id="tickets-table_info" role="status" aria-live="polite">
                        Showing
                        {{service.startIndex}} to
                        {{service.endIndex}} of {{service.totalRecords}}
                        entries
                    </div>
                </div>
                <!-- Pagination -->
                <div class="col-sm-12 col-md-5">
                    <div class="text-md-right float-md-end gridjs-pagination">
                      <ngb-pagination
                      [collectionSize]="(total$ | async)!" [(page)]="service.page" [pageSize]="service.pageSize">
                    </ngb-pagination>
                    </div>
                </div>
                <!-- End Pagination -->
              </div>
              <div class="table-responsive table-dark table-striped table-nowrap">
                <table class="table table-gridjs">
                  <thead>
                  <tr>
                  <th class="sort" sortable="id" (sort)="onSort($event)">ID</th>
                  <th class="sort" sortable="name" (sort)="onSort($event)">Name</th>
                  <th class="sort" sortable="email" (sort)="onSort($event)">Email</th>
                  <th class="sort" sortable="contactNo" (sort)="onSort($event)">ContactNo</th>
                  <th class="sort" sortable="designationStr" (sort)="onSort($event)">Designation</th>
                  <th class="sort" sortable="status" (sort)="onSort($event)">Status</th>
                 
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let data of gridjsList$ | async; let i = index" (click)="editemp(data.id,empmodel)">
                    <td   (click)="editemp(data.id,empmodel)"><ngb-highlight [result]="data.id" [term]="service.searchTerm">{{i+1}}</ngb-highlight></td>
                    <td><ngb-highlight [result]="data.name" [term]="service.searchTerm">{{data.name}}</ngb-highlight></td>
                    <td><ngb-highlight [result]="data.email" [term]="service.searchTerm">{{data.email}}</ngb-highlight></td>
                    <td><ngb-highlight [result]="data.contactNo" [term]="service.searchTerm">{{data.contactNo}}</ngb-highlight></td>
                    <td><ngb-highlight [result]="data.designationStr" [term]="service.searchTerm">{{data.designationStr}}</ngb-highlight></td>
                    <td><ngb-highlight [result]="data.status" [term]="service.searchTerm">{{data.status}}</ngb-highlight></td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="row justify-content-md-between align-items-md-center">
                
                <div class="col-sm-12 col-md-5">
                    <div class="dataTables_info mb-2" id="tickets-table_info" role="status" aria-live="polite">
                        Showing
                        {{service.startIndex}} to
                        {{service.endIndex}} of {{service.totalRecords}}
                        entries
                    </div>
                </div>
                <!-- Pagination -->
                <div class="col-sm-12 col-md-5">
                    <div class="text-md-right float-md-end gridjs-pagination">
                      <ngb-pagination
                      [collectionSize]="(total$ | async)!" [(page)]="service.page" [pageSize]="service.pageSize">
                    </ngb-pagination>
                    </div>
                </div>
                <!-- End Pagination -->
              </div>
              <div  class=" container fixed-bottom" style="background-color:white;"> 
             
               </div>
            </div><!-- end card-body -->
        </div><!-- end card -->
    </div>
    <!-- end col -->
  </div>
  <!-- end row -->
  
  <ng-template #empmodel let-modal>
    <div class="modal-content" width="98%">
      <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="btn-close" (click)="modal.dismiss('Cross click')"></button>
      </div>
      <div class="modal-body">
  
    <app-employee [empid]="selectedid" ></app-employee>

  </div>
</div>
  </ng-template>